@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
}

img {
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.gradient {
  background: linear-gradient(
    351deg,
    rgba(255, 255, 255, 0.3) 10.49%,
    rgba(80, 173, 255, 0.15) 45.1%,
    rgba(232, 244, 255, 0.28) 75.31%,
    rgba(255, 255, 255, 0.3) 79.96%,
    rgba(255, 255, 255, 0) 100%
  );
}

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.52;
  border-radius: 6px;
  background: #000c37;
  color: #fff;
  padding: 8px 24px;
  width: 100%;
  transition: background 0.3s;

  &:hover {
    background: #001357;
  }

  &:active {
    background: #000c37;
  }

  &:focus {
    outline: 2px solid #08f;
  }

  &.disabled {
    background: #c9cfdb;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.secondary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.52;
  border-radius: 6px;
  background: #08f;
  color: #fff;
  padding: 8px 24px;
  width: 100%;
  transition: background 0.3s;

  &:hover {
    background: #50adff;
  }

  &:active {
    background: #006ff1;
  }

  &:focus {
    outline: 2px solid #08f;
  }

  &.disabled {
    cursor: not-allowed;
    background: #c9cfdb;
    pointer-events: none;
  }
}

.slider-container {
  @media (min-width: 1200px) {
    display: flex;
  }
}

.swiper-slide .hidden-or-visible {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}

//// select styles
.choices[data-type*='select-one']::after {
  display: none;
}

.selectIcon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
}

.is-open + .selectIcon {
  transform: translateY(-50%) rotate(180deg);
}

.choices__inner {
  border: none;
  border-radius: 50px;
}

.is-open .choices__inner {
  border-radius: 50px;
}

.choices__list {
  border-radius: 12px;
  width: 216px;
  text-wrap: nowrap;
  @media (min-width: 768px) {
    width: 280px;
  }
}

.is-open .choices__list {
  border: none;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(58, 112, 191, 0.1);
  z-index: 9999;
}

.choices {
  margin-bottom: 0;
  border-radius: 50px;
  box-shadow: 0px 4px 15px 0px rgba(58, 112, 191, 0.1);
}

.choices__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.choices__item p {
  font-weight: 600;
}

.items-type-program.active {
  @media (min-width: 1200px) {
    background: #fff;
  }
}

.type-programm {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    flex-direction: column;
    margin-right: 8px;
    width: 250px;
    cursor: pointer;
  }
}

.type-programm ul li:not(:last-child),
.items-type-program:not(:last-child) {
  @media (min-width: 1200px) {
    margin-bottom: 8px;
  }
}

.items-type-program {
  @media (min-width: 1200px) {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 50px;
    background: rgba(236, 236, 236, 0.4);
    box-shadow: 0px 4px 15px 0px rgba(58, 112, 191, 0.1);
  }
}

.items-type-program p {
  @media (min-width: 1200px) {
    font-weight: 600;
    color: #000c37;
  }
}
.tools {
  @media (min-width: 1200px) {
    margin-bottom: 8px;
    padding: 0 16px;
  }
}

.tools,
.packages {
  @media (min-width: 1200px) {
    cursor: default;
    font-size: 10px;
    font-weight: 700;
    color: #9ea9b9;
  }
}

.packages {
  @media (min-width: 1200px) {
    margin: 16px 0 8px 0;
    padding: 0 16px;
  }
}
//// select styles end

.integrations {
  padding-top: 24px;
  @media (min-width: 768px) {
    padding-top: 40px;
  }
}

.column-card {
  padding: 24px 16px 0;
  @media (min-width: 768px) {
    padding: 16px;
  }
}

.tittle-arrow {
  @media (min-width: 768px) {
    display: flex;
    position: relative;
  }
}

.tittle-arrow h1 {
  font-size: 24px;
  font-weight: 600;

  @media (min-width: 768px) {
    font-size: 44px;
  }
  @media (min-width: 1200px) {
    font-size: 48px;
  }
}

.arrow,
.arrows {
  display: none;
}

.arrow {
  @media (min-width: 768px) {
    display: block;
    width: 103px;
    height: 103px;
    transform: scaleX(-1) rotate(122deg);
    position: absolute;
    left: 562px;
  }
  @media (min-width: 1200px) {
    left: 600px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  @media (min-width: 768px) {
    position: relative;
    height: 17px;
    margin-top: 0;
    &::after {
      font-size: 10px;
      color: #6e7e92;
    }
  }
}

.arrows {
  @media (min-width: 768px) {
    display: inline-flex;
    gap: 40px;
  }
}

.select-arrows {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}

.select {
  position: relative;
  margin-top: 24px;
  width: 208px;
  background: var(--Grey-Winter, #fff);
  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.swiper {
  @media (min-width: 1200px) {
    margin-left: 0;
  }
}

.swiper-wrapper,
.swiper-wrapper-other {
  display: flex;
  padding: 0 0 16px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 540px;
  @media (min-width: 768px) {
    width: 288px;
    height: 744px;
  }
}

.swiper-wrapper .swiper-content {
  width: 264px;
  margin-right: 0;
}

.items-type-programySwiper {
  @media (min-width: 1200px) {
    width: 928px;
  }
}

.card-web-access,
.card-web-integration,
.card-api {
  padding: 16px;
  border-radius: 16px;
  background: var(--Grey-Winter, #fff);
  box-shadow: 0px 4px 15px 0px rgba(58, 112, 191, 0.1);
  @media (min-width: 768px) {
    padding: 24px;
  }
}

.card-tittle {
  font-size: 18px;
  font-weight: 600;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.card-ref {
  font-size: 12px;
  color: var(--Future-Default, #08f);
  margin-top: 4px;
}

.checkbox-description {
  // display: flex;
  margin-top: 16px;
  // align-items: flex-start;
  // gap: 8px;
  flex-grow: 1;
}

.wrapper-items-description,
.wrapper-items-api {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.items-description-access,
.items-description-integration,
.items-description-api {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.items-description-access img,
.items-description-integration img,
.items-description-api img {
  position: relative;
  top: 2px;
}

.checkbox-description p {
  line-height: 22px;
}

.type-delivery {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 12px;
}

.down-card-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.free-subtitle {
  font-size: 36px;
  font-weight: 700;
  color: var(--Dubai-Default, #000c37);
  text-align: center;
  margin-bottom: 20px;
}

.ref-contact {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  color: #000c37;
  font-weight: 600;
}

.ref-documentation {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  color: #08f;
  font-weight: 600;
}

.ref-documentation.api {
  color: var(--Dubai-Default, #000c37);
}

.href-features {
  font-weight: 600;
  color: #08f;
  margin-top: 12px;
}

.description-logistics-explorer {
  margin-top: 24px;
  font-size: 16px;
  line-height: 26px;
  color: var(--Dubai-Default, #000c37);
  @media (min-width: 1200px) {
    width: 928px;
  }
}

.description-logistics-explorer a {
  color: var(--Future-Default, #08f);
}

.trackingSystem-item-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description-counter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 16px;
  border-radius: 16px;
  border: 1px solid #c9cfdb;
  height: 32px;
  width: 96px;
}

.butt-decrement,
.butt-increment {
  color: #c9cfdb;
}

.counter-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-count {
  text-align: center;
  width: 30px;
  border: none;
  outline: none;
  font-weight: 500;
  color: #000c37;
}

.counter-price .price {
  font-size: 16px;
  font-weight: 600;
  color: #000c37;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price span {
  font-size: 22px;
  font-weight: 700;
}

.price .per-month {
  font-size: 12px;
  margin-bottom: 16px;
}

.other-features {
  @media (min-width: 1200px) {
    margin-top: 48px;
  }
}

#other-features {
  @media (min-width: 1200px) {
    width: 912px;
    margin-left: auto;
    margin-right: 16px;
    &.swiper {
      margin-right: 0;
    }
  }
}

.title-other-features {
  font-size: 36px;
  font-weight: 600;
  color: #000c37;
  margin-bottom: 16px;
  @media (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.wraper-other {
  width: 544px;

  @media (min-width: 768px) {
    width: 592px;
  }
  @media (min-width: 1200px) {
    width: 896px;
  }
}

.wraper-other .swiper-slide:last-child {
  background: white;
}

.wraper-other .swiper-slide {
  height: max-content;
  background: #f8f9fd;
  border-radius: 22px;
}

.wraper-other .swiper-slide {
  padding: 16px;
}

.description-program {
  max-width: 896px;
}

.text-description {
  font-size: 16px;
  line-height: 26px;
}

.text-description a {
  color: #08f;
}

.swiper-slide.hidden-slide {
  background: transparent;
  height: 100%;
}

.type-programm-swiper {
  padding: 40px 0px;
}
